@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 10/02/2017, 10:22:15 AM
    Author     : jospina
*/
div#wpbody {
    background-color: #f47621;
}

.clearl{
      clear: left;
}

div#prkt-guest-list-content-form,#prkt-guest-list{
    width: 1120px;
    max-width: 100%;
    margin: auto;
    background: white;
    padding: 50px;
}

div#prkt-guest-list-content-form .col-1{
    display: block;
    width: 98%;
    padding:1%;
}

div#prkt-guest-list-content-form .col-2{
    width: 48%;
    float: left;
    display: block;
    padding: 1%;
    color: #00abeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

div#prkt-guest-list-content-form .col-2 ul {
    list-style-type: decimal;
    margin-top: 90px;
    line-height: 30px;
}

div#prkt-guest-list-content-form .col-2 a {
    font-family: 'Open Sans', sans-serif;
    color: #f47621;
    font-weight: bold;
}



div#prkt-guest-list-content-form input{
    width:100%;
    border: solid #00abeb;
    border-width: 0px 0px 2px 0px;
    box-shadow: none;
    margin-top: 20px;
}

div#prkt-guest-list-content-form li input {
    width: 90%!important;
}

.contenedorboton {
    width: 350px;
    display: block;
    margin: auto;
}

.miboton {
    height: 100px;
    background-color: #ffdf43;
    border-radius: 100px;
    color: #2c7bff;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: none!important;
}

input.miboton:hover {
    background-color: #f47621!important;
}

div#prkt-guest-list-content-form label{
    color: #00abeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

div#prkt-guest-list-content-form textarea {
    width: 80%;
    border: solid 2px #8dd5f5;
    border-radius: 10px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 25px;
    margin: 25px 0px 25px 0px;
}

#prkt-guest-list .mail-invitation{
    position: relative;
    padding: 1%;
    border-bottom: 1px gainsboro solid;
    padding-left: 20px;
}

#prkt-guest-list .mail-invitation .state{
    position: absolute;
    right: 0px;
}

#prkt-guest-list .mail-invitation span.remove:after,#prkt-guest-list .mail-invitation .state[data-send="no"]:after,#prkt-guest-list .mail-invitation .state[data-send="in"]:after,#prkt-guest-list .mail-invitation .state[data-send="yes"]:after{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    margin-left: 20px;
}

#prkt-guest-list .mail-invitation .state[data-send="no"]:after{
    content: "\f158";
    color: #a0a5aa;
}

#prkt-guest-list .mail-invitation .state[data-send="in"]:after{
    content: "\f463";
    color: #a0a5aa;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;

}

#prkt-guest-list .mail-invitation .state[data-send="yes"]:after{
    content: "\f147";
    color: #a0a5aa;
}


@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(-360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(-360deg);}
}

#prkt-guest-list .mail-invitation span.remove:after{
    content: "\f182";
}

#prkt-guest-list .mail-invitation span.remove{
    position: absolute;
    left: -24px;
    color: #e68080;
    cursor:pointer;
}
/*
  IMAGENES FLOTANTES
*/
.estrellaconpuntos {
    position: absolute;
    z-index: 999;
    left: 0px;
    margin-top: -802px;
}

.punticosleft {
    position: absolute;
    z-index: 999;
    right: 0px;
    margin-top: -360px;
}

.juguetebajo {
    position: absolute;
    z-index: 999;
    left: -125px;
    bottom: -184px;
}

.avionbajo {
    position: absolute;
    z-index: 999;
    right: -50px;
    bottom: -70px;
}

#prkt-guest-list {
    position: relative;
    margin-bottom: 200px;
    padding-bottom: 150px;
}

/*pantallas de cel*/
@media screen and (max-width:1200px) {
/*imagenes flotantes*/

  .estrellaconpuntos, .punticosleft, .juguetebajo, .avionbajo  {
  display: none;
  }
  div#prkt-guest-list-content-form .col-2,  div#prkt-guest-list-content-form .col-1, .contenedorboton {
      width: 90%;
  }


  div#prkt-guest-list-content-form input, div#prkt-guest-list-content-form textarea {
    width: 90%;
    display: block;
  }

  div#prkt-guest-list-content-form, #prkt-guest-list {
    padding: 20px;
  }


  div#prkt-guest-list-content-form .col-2 ul {
    margin-top: 10px;
    margin-left: 20px;
  }

  .imagentopmapa, .imagentopcohete {
    height: auto;
  }
}
/*pantallas de cel*/

/*para esconder items flotantes*/
@media screen and (max-width:1800px) {
/*imagenes flotantes*/

  .estrellaconpuntos, .punticosleft  {
  display: none;

  }
  .avionbajo, .juguetebajo {
      display: none;
    }
}
/*para esconder items flotantes*/
